<p id="notice"><%= notice %></p>

<h1>Rms</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th>Quality</th>
      <th>Max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rms.each do |rm| %>
      <tr>
        <td><%= rm.user_id %></td>
        <td><%= rm.content %></td>
        <td><%= rm.quantity %></td>
        <td><%= rm.max %></td>
        <td><%= link_to 'Show', rm %></td>
        <td><%= link_to 'Edit', edit_rm_path(rm) %></td>
        <td><%= link_to 'Destroy', rm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rm', new_rm_path %>
