<h1>New Rm</h1>

<%= form_for(@rm) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <%= f.select :content, ['Back squat', 'Front squat', 'Deadlift',
                          'Sumo Deadlift', 'Sumo Deadlift High Pull',
                          'Power Snatch', 'Power Clean',
                          'Squat Clean', 'Muscle Snatch',
                          'Clean & Jerk', 'Thruster', 'Push Jerk',
                          'Split Jerk', 'Press',
                          'Push press', 'Cluster', 'Overhead Squat']%>

  <%= f.label :max, "Max reps" %>
  <%= f.text_field :max, class: 'form-control' %>

  <%= f.label :quantity, "Weight lifted" %>
  <%= f.text_field :quantity, class: 'form-control' %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', rms_path %>
